<main class="col-md-10 col-lg-12" id="main">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="catalog.php?tabler=&amp;tablei=orders&amp;srci=items.php&amp;under=-1"><i
                            class="glyphicon glyphicon-book"></i>&emsp;Заказы</a></li>
            <li>Отчет</li>
        </ul>
    </div>
    <!-- ACTIONS -->
    <div class="row">
        <div class="col-lg-12 clearfix">
            <h1 class="pull-left"><i class="glyphicon glyphicon-calendar"></i>&emsp;Товары, проданные за период&emsp;
            </h1>


            <script type="text/javascript">
                $(function () {
                    // Datepicker
                    $('#date1').datepicker({
                        format: 'yyyy-mm-dd'
                    });
                    $('#date2').datepicker({
                        format: 'yyyy-mm-dd'
                    });
                });
            </script>
            <form action="orders_report.php" method="get">
                <div class="col-lg-2">
                    <div class="input-group">
                        <input name="date1" id="date1" type="text" class="form-control" value="{{ date1 }}">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <input name="date2" id="date2" type="text" class="form-control" value="{{ date2 }}">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <!-- ACTIONS END -->
    <hr>

    <div class="table-responsive">
        <table id="table-1" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody>
            {% if products|length > 0 %}
                {% set sum = 0 %}
                <ul>
                    {% for product in products %}
                        {% set sum = sum + product.sum %}
                        <tr>
                            <td>{% if product.product_id > 0 %}
                                    <a href="items.php?tabler=catalog_categories&tablei=catalog_products&rubs_list_type=select&srci=items.php&id={{ product.product_id }}#header"
                                       target="_blank">{{ product.name }}</a>
                                {% else %}За выбранный период товары не найдены{% endif %}</td>
                            <td>{{ product.num }}</td>
                            <td>{{ product.sum|round }}</td>
                        </tr>
                    {% endfor %}
                </ul>
            {% endif %}

            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>{{ sum|round }}</td>
            </tr>
            </tfoot>
        </table>
</main>
