@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=cyrillic');
@import "_reset.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "fm.revealator.jquery.css";

$main-color: #FFBF00;
$bg-color: #f2f2f2;
$light-color: #808080;
$dark-color: #111;
$font-PTSans: 'IBM Plex Sans', sans-serif;

@mixin screen-1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin screen-1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen-800 {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin screen-579 {
  @media screen and (max-width: 579px) {
    @content;
  }
}

@mixin screen-320 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

%main-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

%justify-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

%caption {
  width: 100%;
  display: block;
  font-size: 40px;
  line-height: 40px;
  @include screen-1400 {
    margin-left: 0;
  }
  @include screen-800 {
    font-size: 30px;
    line-height: 1.5;
  }
  @include screen-579 {
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
  }
  @include screen-320 {
    font-size: 21px;
    line-height: 1.4;
  }
}

%main-button {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  background: $main-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  &:hover {
    transition: .3s;
    background: rgba(255, 191, 0, 0.7);
    color: $dark-color;
  }
}

body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $font-PTSans;
  font-weight: 500;
  color: $dark-color;
}
.main {
  flex: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $dark-color;
  &:hover {
    text-decoration: none !important;
  }
  &:focus {
    text-decoration: none !important;
    color: $dark-color;
  }
}

input, textarea, button, .slick-slide {
  outline: none;

  &:focus, &:active {
    outline: none;
  }
}

.active {
  cursor: default !important;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 20px 0;
  @include screen-320 {
    padding: 10px 0;
  }
  &--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: #333;
    @include screen-579 {
      padding: 10px 0;
    }
  }
  &__container {
    @extend %main-container;
    @extend %justify-between;
  }
  &__right {
    @extend %justify-between;
  }
  &__logo {
    width: 160px;
    cursor: pointer;
  }
  &__phone {
    display: block;
    padding: 8px 16px;
    font-size: 20px;
    line-height: 30px;
    color: $main-color;
    @include screen-800 {
      padding: 8px;
      font-size: 14px;
    }
    &:hover {
      background: $bg-color;
      color: $main-color;
    }
  }
  &__callback {
    @extend %main-button;
    margin-right: 10px;
    padding: 10px 20px;
  }
  &__open-phone {
    display: none;
    position: relative;
    @extend %flex;
    align-items: baseline;
    margin-right: 10px;
    padding: 9px 13px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    @include screen-579 {
      display: block;
    }
    img {
      width: 20px;
    }
  }
  &__adaptive-phone {
    display: none;
    position: absolute;
    top: 73px;
    margin-left: -30px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 3px;
  }
  &__socials {
    width: 100px;
    margin-right: 30px;
    @extend %justify-between;
    @include screen-800 {
      display: none;
    }
  }
  &__social-link {
    svg {
      &:hover {
        path {
          transition: .3s;
          fill: $main-color !important;
        }
      }
    }
  }
  .adaptive-menu {
    position: relative;
    cursor: pointer;
    &__menu-top {
      position: relative;
      margin: 0;
      padding: 15px 0;
      border-radius: 3px 0 3px 3px;
      background: #FFFFFF;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    &__full-menu {
      display: none;
      height: auto;
      width: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 12;
      box-sizing: border-box;
      //overflow: auto;
      text-align: right;
    }
    &__open-menu {
      @extend %flex;
      align-items: baseline;
      padding: 10px 13px;
      background: #FFFFFF;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      &:hover {
        .adaptive-menu__title {
          transition: 0.5s;
          color: $main-color;
        }
      }
    }
    &__close-menu {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      font-size: 40px;
      color: $main-color;
      border-radius: 3px 3px 0 0;
      img {
        background: #fff;
        padding: 10px 12px 18px 12px;
        border-radius: 3px 3px 0 0;
      }
    }
    &__link {
      display: block;
      width: 190px;
      text-align: right;
      padding: 8px 20px 8px 35px;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: $dark-color;
      &:hover {
        transition: 0.5s;
        color: $main-color;
      }
    }
    img {
      outline: none;
      &:focus, &:active {
        outline: none;
      }
    }
  }
  &__span {
    font-size: 15px;
    line-height: 20px;
  }
  &__dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: all .5s ease;
    font-size: 14px;
    text-align: left;
    outline: none;
    @include screen-579 {
      display: none;
    }
    .header__select {
      cursor: pointer;
      display: block;
      padding: 10px;
    }
    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    &:active {
      background-color: #f8f8f8;
    }
    &.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-radius: 5px 5px 0 0;
      background-color: #f8f8f8;
      &:hover {
        box-shadow: 0 0 4px rgb(204, 204, 204);
        border-radius: 5px 5px 0 0;
        background-color: #f8f8f8;
      }
    }
    .header__dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 0;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 5px 5px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9;
      li {
        padding: 10px;
        transition: all .2s ease-in-out;
        cursor: pointer;
      }
    }
    .header__dropdown-menu {
      padding: 0;
      list-style: none;
      li {
        &:hover {
          background-color: #f2f2f2
        }
        &:active {
          background-color: #e2e2e2
        }
      }
    }
  }
  &__all-phone {
    position: relative;
    margin-right: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    @include screen-800 {
      margin-right: 20px;
    }
    @include screen-579 {
      display: none;
    }
    .header__dropdown-phone {
      display: none;
      position: absolute;
      top: 45px;
      .header__phone {
        color: $dark-color;
      }
    }
    &:hover {
      background: #fff;
      border-radius: 3px;
      .header__dropdown-phone {
        display: block;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
      }
    }
  }
}


.main-block {
  width: 100%;
  height: 100vh;
  @extend %flex;
  //background: #E1E1E1 url("../img/bg-main.webp") no-repeat top left / 50%;
  @include screen-1024 {
    height: 60vh;
  }
  @include screen-579 {
    height: 80vh;
  }
  &__container {
    width: 100%;
    height: 100vh;
    position: relative;
    @extend %main-container;
    @extend %justify-between;
    @include screen-1024 {
      height: 60vh;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    @include screen-579 {
      height: 80vh;
      justify-content: flex-end;
    }
  }
  &__caption {
    @extend %caption;
    line-height: 46px;
    letter-spacing: 2px;
    font-family: 'Russo One' !important;
    color: #fff;
    margin-bottom: 10px;
    @include screen-800 {
      line-height: 1.5;
      letter-spacing: 2px;
    }
    @include screen-579 {
      line-height: 1.4;
      letter-spacing: 0;
    }
    span {
      color: #4d4d4d;
    }
  }
  &__description {
    max-width: 360px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #fff;
    @include screen-579 {
      margin: 0 auto;
    }
  }
  &__callback {
    @extend %main-button;
    margin-top: 30px;
    padding: 15px 20px;
  }
  &__right {
    position: absolute;
    right: -10%;
    width: 63%;
    margin-top: 10%;
    @include screen-1400 {
      right: -7%;
      width: 60%;
      display: flex;
      justify-content: flex-end;
    }
    @include screen-1024 {
      width: 80%;
      position: relative;
      right: 0;
      margin: 30px auto;
    }
    @include screen-320 {
      margin: 20px auto;
    }
  }
  &__left {
    width: 60%;
    @include screen-1024 {
      width: 100%;
    }
  }
  &__img {
    @include screen-1024 {
      margin: 0 auto;
    }
  }
  .owl-carousel .owl-item img {
    height: 100%;
  }
  .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .owl-animated-out {
    z-index: 1
  }
  .owl-animated-in {
    z-index: 0
  }
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    .item {
      background-size: 100%;
      background-repeat: no-repeat;
      @include screen-1024 {
        background-size: cover;
      }
    }
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.advantages {
  width: 100%;
  background: $bg-color;
  &__container {
    width: 100%;
    @extend %main-container;
    @extend %justify-between;
    align-items: normal;
    padding: 50px 20px;
    @include screen-579 {
      padding: 30px 20px;
    }
  }
  &__caption {
    @extend %caption;
    margin-bottom: 40px;
    @include screen-320 {
      margin-bottom: 30px;
    }
  }
  &__item {
    width: 32%;
    min-height: 355px;
    margin-bottom: 20px;
    padding: 30px 20px;
    box-sizing: border-box;
    background: #fff url('../img/Vector.svg') no-repeat center bottom;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: 0.1s;
    @include screen-800 {
      width: 49%;
    }
    @include screen-579 {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      box-shadow: none;
      border: 1px solid $light-color;
    }
    @include screen-320 {
      padding: 20px;
    }
    &:hover {
      transition: 0.5s;
      background: $main-color url('../img/Vector.svg') no-repeat center bottom;
      .advantages__desc {
        transition: 0.4s;
        color: $dark-color;
      }
    }
    &.adaptive--hide {
      @include screen-579 {
        display: none;
      }
    }
  }
  &__slider {
    &.adaptive--show {
      display: none;
      @include screen-579 {
        display: block;
      }
    }
  }
  &__img {
    height: 60px;
    margin: 0 30px 30px 0;
    float: left;
    @include screen-320 {
      height: 50px;
      margin-bottom: 20px;
    }
  }
  &__title {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 30px;
    @include screen-320 {
      font-size: 23px;
    }
  }
  &__desc {
    clear: both;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    color: $light-color;
    @include screen-320 {
      font-size: 14px;
    }
  }
}

.quotation {
  width: 100%;
  height: 54vh;
  @extend %flex;
  @include screen-1400 {
    height: 70vh;
  }
  @include screen-1024 {
    height: 50vh;
  }
  @include screen-579 {
    height: 55vh;
  }
  @include screen-320 {
    height: 70vh;
  }
  &__container {
    width: 100%;
    @extend %main-container;
    @extend %justify-between;
    @include screen-800 {
      flex-direction: column;
    }
  }
  &__block {
    width: 62%;
    @include screen-800 {
      width: 100%;
    }
    @include screen-579 {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__caption {
    width: 100%;
    display: block;
    font-size: 26px;
    line-height: 45px;
    font-family: 'Russo One' !important;
    letter-spacing: 1px;
    color: #fff;
    @include screen-1400 {
      margin-left: 0;
    }
    @include screen-800 {
      font-size: 30px;
      line-height: 1.5;
    }
    @include screen-579 {
      text-align: center;
      font-size: 25px;
      line-height: 1.5;
      letter-spacing: 1px;
    }
    @include screen-320 {
      font-size: 20px;
      line-height: 1.4;
    }
  }
  &__callback {
    @extend %main-button;
    margin-top: 30px;
    padding: 15px 20px;
    @include screen-579 {
      margin: 20px 0;
      padding: 12px 15px;
    }
  }
  &__img {
    width: 35%;
    @include screen-800 {
      width: 50%;
    }
  }
}

.stage {
  width: 100%;
  padding-bottom: 30px;
  background: $bg-color;
  &__container {
    @extend %main-container;
    background: url("../img/line-stage.svg") no-repeat top center / 37%;
  }
  &__caption {
    @extend %caption;
    padding: 50px 0 40px;
    @include screen-579 {
      padding: 30px 0 20px;
    }
  }
  &__blocks {
    @extend %justify-between;
    align-items: flex-start;
  }
  &__item {
    width: 33%;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 0 60px 0 50px;
    @include screen-800 {
      width: 50%;
    }
    @include screen-579 {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      padding: 0;
    }
  }
  &__img {
    width: 140px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 3px;
    @include screen-579 {
      width: auto !important;
      margin: 0 auto 15px;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  &__desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: $light-color;
  }
  &__but {
    @extend %main-button;
    padding: 12px 25px;
    margin-top: 15px;
  }
  .owl-carousel .owl-stage-outer {
    height: auto !important;
  }
}

.popular {
  &__container {
    @extend %main-container;
    padding-bottom: 50px;
    @include screen-579 {
      padding-bottom: 30px;
    }
  }
  &__caption {
    @extend %caption;
    padding: 50px 0 40px;
    @include screen-579 {
      padding: 30px 0 20px;
    }
  }
  &__item {
    width: 49%;
    height: 400px;
    @extend %justify-between;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 20px;
    @include screen-800 {
      width: 100%;
      height: 450px;
    }
    @include screen-579 {
      height: 420px;
    }
    @include screen-320 {
      height: 380px;
    }
  }
  &__img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
    @include screen-320 {
      height: 180px;
    }
  }
  &__slide {
    @extend %justify-between;
    align-items: flex-start;
    padding: 3px;
  }
  &__info {
    @extend %justify-between;
    height: 129px;
    padding: 20px;
    box-sizing: border-box;
    @include screen-800 {
      height: 180px;
    }
    @include screen-579 {
      height: 150px;
      padding: 15px 20px;
    }
    @include screen-320 {
      height: 200px;
    }
  }
  &__title {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
  }
  &__callback {
    @extend %main-button;
    padding: 18px 40px;
    @include screen-800 {
      padding: 15px 30px;
    }
    @include screen-579 {
      padding: 10px 20px;
    }
  }
  &__first {
    p {
      &:first-child {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 5px;
        @include screen-579 {
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 0;
        }
      }
      &:last-child {
        font-size: 15px;
        line-height: 20px;
        color: $dark-color;
      }
    }
  }
  &__second {
    font-size: 13px;
    line-height: 15px;
    color: $light-color;
    @include screen-579 {
      line-height: 10px;
    }
    p {
      &:first-child {
        margin-bottom: 15px;
      }
      &:last-child {
        display: flex;
        align-items: center;
      }
    }
  }
  &__svg {
    width: 40px;
    margin-left: 10px;
  }
  &__hide {
    display: none;
    height: 270px;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    @include screen-579 {
      padding: 10px 20px 0 20px;
    }
    span {
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      @include screen-320 {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  &__content {
    width: 51%;
    @extend %justify-between;
    &:last-child {
      width: 46%;
    }
    div {
      width: 100%;
      margin-bottom: 10px;
      @extend %justify-between;
      @include screen-579 {
        margin-bottom: 5px;
      }
      span {
        &:first-child {
          flex: 2.5;
        }
        &:last-child {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
  &__block {
    @extend %justify-between;
    align-items: flex-start;
    padding-bottom: 5px;
    background: url("../img/Line-pop.svg") no-repeat center bottom;
    &:last-child {
      flex-direction: column;
      margin-top: 5px;
      @include screen-320 {
        margin-top: 5px;
      }
      div {
        width: 100%;
        margin-bottom: 10px;
        @extend %justify-between;
        @include screen-579 {
          margin-bottom: 5px;
        }
        &:first-child {
          margin-bottom: 5px;
          span {
            &:last-child {
              font-weight: 500;
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}


.services {
  background: $bg-color url("../img/cover2.png") no-repeat center bottom;
  &__container {
    @extend %main-container;
    padding-bottom: 50px;
    @include screen-579 {
      padding-bottom: 30px;
    }
  }
  &__caption {
    @extend %caption;
    padding: 50px 0 10px;
    @include screen-579 {
      padding: 30px 0 10px;
    }
  }
  &__desc {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
  }
  &__blocks {
    @extend %justify-between;
    align-items: normal;
    margin-bottom: 50px;
    @include screen-579 {
      margin-bottom: 0;
    }
  }
  &__item {
    width: 32%;
    min-height: 520px;
    padding: 0 20px 20px 20px;
    background: #FFFFFF url("../img/Vector.svg") no-repeat center bottom;
    box-shadow: 0 5px 20px rgba(133, 133, 133, 0.2);
    border-radius: 3px;
    @include screen-800 {
      width: 48%;
      margin-bottom: 25px;
    }
    @include screen-579 {
      width: 100%;
    }

    &:hover {
      transition: .4s;
      background: $main-color url("../img/Vector2.svg") no-repeat center bottom;
    }
  }
  &__title {
    @extend %caption;
    margin: 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
    @include screen-320 {
      font-size: 21px;
      line-height: 26px;
    }
  }
  &__list {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    color: gray;
    li {
      padding: 20px 0;
      background: url("../img/Line.svg") no-repeat center bottom;

      &:last-child {
        border: none;
      }
    }
  }
  &__numeral {
    width: 30%;
    margin: 50px 0;
    @include screen-800 {
      width: 49%;
    }
    @include screen-579 {
      width: 100%;
      margin: 30px 0;
      text-align: center;
    }
    span {
      font-size: 60px;
      line-height: 80px;
      @include screen-579 {
        font-size: 50px;
        line-height: 60px;
      }
    }
    p {
      font-size: 16px;
      line-height: 25px;
    }
  }
  &__number {
    font-size: 80px !important;
    line-height: 80px !important;
    @include screen-800 {
      font-size: 60px !important;
      line-height: 60px !important;
    }
    @include screen-579 {
      font-size: 50px !important;
      line-height: 50px !important;
    }
  }
  &__counter {
    @extend %justify-between;
    align-items: flex-start;
  }
}

.team {
  background: $bg-color;
  &__container {
    @extend %main-container;
    padding-bottom: 50px;
    @include screen-579 {
      padding-bottom: 30px;
    }
  }
  &__caption {
    @extend %caption;
    padding: 50px 0 40px;
    @include screen-579 {
      padding: 30px 0 20px;
    }
  }
  &__item {
    height: 370px;
    padding: 40px 20px 0 20px;
    background: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  &__img {
    width: 160px !important;
    height: 160px;
    margin: 0 auto 20px;
    box-sizing: content-box;
    border-radius: 50%;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }
  &__desc {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $light-color;
  }
  &__text {
    padding-top: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    max-height: 220px;
    overflow: auto;
    color: $dark-color;
    background: url(../img/Line.svg) no-repeat center top;
  }
  &__link {
    display: block;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 15px;
    line-height: 20px;
    background: url("../img/XMLID 497.svg") no-repeat center left;
    color: #0088CC;
  }
  &__more {
    display: block;
    text-align: right;
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 20px;
    background: url("../img/Line.svg") no-repeat center bottom;
    &:hover {
      transition: .3s;
      color: $main-color;
    }
  }
  &__hide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
    opacity: 0;
    z-index: 11;
    background: #fff;
  }
  &__info {
    height: 82%;
    @extend %justify-between;
    flex-direction: column;
    align-items: flex-start;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px !important;
    cursor: pointer;
    display: block;
  }
  &__overlay {
    z-index: 9;
    position: fixed;
    background-color: $dark-color;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  .owl-item {
    margin-bottom: 20px;
  }
}


.feedback {
  padding: 135px 0;
  background: url("../img/bg.jpg") no-repeat center;
  @include screen-800 {
    padding: 85px 0;
    background: url("../img/bg.jpg") no-repeat center / cover;
    @include screen-320 {
      padding: 60px 0;
    }
  }
  &__container {
    @extend %main-container;
    @extend %justify-between;
    @include screen-800 {
      flex-direction: column;
    }
  }
  &__caption {
    width: 65%;
    display: block;
    font-size: 26px;
    line-height: 45px;
    font-family: 'Russo One' !important;
    letter-spacing: 1px;
    color: #fff;
    @include screen-1400 {
      margin-left: 0;
    }
    @include screen-800 {
      width: 100%;
      font-size: 30px;
      line-height: 1.5;
    }
    @include screen-579 {
      text-align: center;
      font-size: 25px;
      line-height: 1.5;
      letter-spacing: 0;
    }
    @include screen-320 {
      font-size: 21px;
      line-height: 1.4;
    }
    span {
      color: $main-color;
    }
  }
}

.contacts {
  padding: 50px 0;
  background: $bg-color;
  @include screen-579 {
    padding: 30px 0;
  }
  @include screen-320 {
    padding: 0;
  }
  &__container {
    @extend %main-container;
    @extend %flex;
    align-items: stretch;
    padding: 0;
    background: #FFFFFF url("../img/Vector-cont.svg") no-repeat left bottom;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    @include screen-800 {
      flex-direction: column;
    }
  }
  &__caption {
    @extend %caption;
    padding: 0 0 30px;
    background: url("../img/Line-contact.svg") no-repeat center bottom;
    @include screen-800 {
      background: none;
    }
  }
  &__left, &__right {
    width: 50%;
    @include screen-800 {
      width: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
      @include screen-800 {
        height: 30vh;
      }
    }
  }
  &__left {
    padding: 50px 100px 70px;
    box-sizing: border-box;
    @include screen-800 {
      padding: 40px 20px 40px;
    }
  }
  &__title {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $light-color;
  }
  &__info {
    position: relative;
    z-index: 1;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
  }
  &__link {
    @extend %main-button;
    margin: 30px 0 0 40px;
    padding: 15px 20px;
    @include screen-800 {
      width: 170px;
      margin: 30px auto;
      display: block;
    }
  }
  &__phone {
    position: relative;
    padding: 30px 0 30px 40px;
    background: url("../img/phone.svg") no-repeat center left;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: url("../img/Line-contact.svg") no-repeat center bottom;
    }
  }
  &__email {
    position: relative;
    padding: 30px 0 30px 40px;
    background: url("../img/email.svg") no-repeat center left;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: url("../img/Line-contact.svg") no-repeat center bottom;
    }
  }
  &__address {
    position: relative;
    padding: 30px 0 30px 40px;
    background: url("../img/location.svg") no-repeat center left;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: url("../img/Line-contact.svg") no-repeat center bottom;
    }
  }
}

.calculator {
  &__container {
    @extend %main-container;
  }
  &__caption {
    @extend %caption;
    margin: 50px 0 55px;
    @include screen-579 {
      margin: 30px 0 35px;
    }
  }
  &__block {
    @extend %flex;
    margin-bottom: 30px;
  }
  &__label {
    width: 13%;
    margin-right: 10px;
    font-size: 16px;
  }
  input, select {
    width: 40%;
    padding: 10px 15px;
    box-sizing: content-box;
  }
  &__submit {
    width: 14% !important;
    margin: 0 auto;
  }
  .pdf_link {
    margin: 20px 0;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    @extend %main-button;
  }
}

.footer {
  background: $dark-color;
  &__container {
    @extend %main-container;
    padding: 40px 20px;
    @include screen-800 {
      padding: 20px;
    }
  }
  &__top, &__bottom {
    @extend %justify-between;
  }
  &__top {
    margin-bottom: 60px;
    @include screen-800 {
      margin-bottom: 40px;
    }
  }
  &__logo {
    width: 280px;
    @include screen-1024 {
      width: 200px;
    }
    @include screen-800 {
      margin: 0 auto;
    }
  }
  &__menu {
    width: 800px;
    @extend %justify-between;
    @include screen-1024 {
      width: 77%;
    }
    @include screen-800 {
      width: 100%;
      margin-top: 30px;
    }
    @include screen-320 {
      justify-content: space-around;
    }
  }
  &__link {
    font-size: 15px;
    line-height: 20px;
    color: $light-color;
    @include screen-800 {
      margin-bottom: 10px;
    }
    @include screen-579 {
      width: 50%;
    }
    &:hover {
      transition: .4s;
      color: #fff;
    }
  }
  &__socials {
    width: 180px;
    @extend %justify-between;
    @include screen-800 {
      margin: 0 auto 20px;
    }
  }
  &__social-link {
    svg {
      &:hover {
        path {
          transition: .3s;
          fill: $main-color !important;
        }
      }
    }
  }
  &__copywrite {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $light-color;
    @include screen-800 {
      margin: 0 auto;
    }
  }
}

.popup {
  display: none;
  width: 320px;
  height: auto;
  position: fixed;
  top: 45%;
  left: 50%;
  box-sizing: border-box;
  margin-top: -160px;
  margin-left: -155px;
  padding: 30px;
  opacity: 0;
  z-index: 11;
  background: $bg-color;
  @include screen-320 {
    width: 310px;
  }
  &__close {
    position: absolute;
    top: 37px;
    right: 30px;
    cursor: pointer;
    display: block;
  }
  &__overlay {
    z-index: 10;
    position: fixed;
    background-color: $dark-color;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  &__caption {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }
    input:invalid:not(:placeholder-shown) + .popup__error {
      display: block;
    }
  }
  &__field {
    width: 260px;
    margin-bottom: 20px;
    @include screen-320 {
      width: 100%;
    }
  }
  &__error {
    color: $main-color;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
  }
  input {
    width: 100%;
    outline: none;
    display: block;
    height: 55px;
    padding: 0 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }
  &__send {
    font-size: 15px !important;
    line-height: 20px !important;
    background: $main-color !important;
    border: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;
    border-radius: 3px !important;
    cursor: pointer;
    &:hover {
      transition: .3s !important;
      background: rgba(255, 191, 0, 0.7) !important;
      border: none !important;
    }
  }
  .help-block {
    color: $main-color;
  }
  &__notification {
    display: none;
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #4D4D4D;
  }
}

.popup-model {
  display: none;
  width: 320px;
  height: auto;
  position: fixed;
  top: 45%;
  left: 50%;
  box-sizing: border-box;
  margin-top: -160px;
  margin-left: -155px;
  padding: 30px;
  opacity: 0;
  z-index: 11;
  background: $bg-color;

  &__close {
    position: absolute;
    top: 37px;
    right: 30px;
    cursor: pointer;
    display: block;
  }

  &__overlay {
    z-index: 10;
    position: fixed;
    background-color: $dark-color;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }

  &__caption {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  &__form {
    width: 100%;
    margin: 0 auto;

    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
    }

    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }

    input:invalid:not(:placeholder-shown) + .popup-model__error {
      display: block;
    }
  }

  &__field {
    width: 260px;
    margin-bottom: 20px;
  }

  &__error {
    color: $main-color;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
  }

  input {
    width: 100%;
    outline: none;
    display: block;
    height: 55px;
    padding: 0 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }

  &__send {
    font-size: 15px !important;
    line-height: 20px !important;
    background: $main-color !important;
    border: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;
    border-radius: 3px !important;
    cursor: pointer;

    &:hover {
      transition: .3s !important;
      background: rgba(255, 191, 0, 0.7) !important;
      border: none !important;
    }
  }

  .help-block {
    color: $main-color;
  }

  &__notification {
    display: none;
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #4D4D4D;
  }
}

.subscription {
  &__form {
    width: 25%;
    @extend %flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    @include screen-800 {
      width: 80%;
      margin-top: 30px;
      align-items: center;
    }
    input:valid:not(:placeholder-shown) {
      border: 1px solid $main-color;
      @include screen-320 {
        width: 100%;
      }
    }
    input:invalid:not(:placeholder-shown) {
      border: 1px solid red;
    }

    input:invalid:not(:placeholder-shown) + .subscription__error {
      display: block;
    }
  }

  &__field {
    width: 100%;
    margin: 0 auto 20px;
  }

  &__error {
    color: $main-color;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
  }

  &__notification {
    display: none;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: $main-color;
  }

  &__name, &__phone {
    width: 100%;
    height: 55px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;

    &:hover {
      box-shadow: 10px 8px 25px rgba(0, 0, 0, 1);
    }

    @include screen-579 {
      height: 53px;
      padding: 0 15px;
      border: 1px solid $main-color;
    }
  }

  &__send {
    @extend %main-button;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
  }
}

.stage__desc[data-readmore] {
  transition: height 500ms;
  overflow: hidden;
}

.adaptive--hide {
  @include screen-579 {
    display: none;
  }
}
.owl-carousel.owl-theme.adaptive--show {
  display: none;
  @include screen-579 {
    display: block;
  }
}
