div.action-block {
    border: #666 1px solid;
    background-color: #EEE;
    padding: 10px;
    width: 847px;
}

div.action-block div.action-title {
    font-size: 14px;
    font-weight: bold;
}

div.action-products {
    border: #666 1px solid;
    background-color: #FFF;
    padding: 5px;
    margin: 10px 0;
    width: 835px;
    height: 328px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.action-products div.product {
    width: 250px;
    height: 60px;
    float: left;
    padding: 5px;
    border: #CCC 1px solid;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
}

div.action-products div.product-image {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

div.action-products div.product-image img {
    width: 60px;
}

div.action-products div.product-name {
    float: left;
    margin-left: 10px;
    padding: 0;
    width: 180px;
    height: 60px;
    overflow: hidden;
    font-size: 11px;
    font-family: Arial;
    color: #333;
    line-height: 14px;
}

div.action-products div.product-price {
    font-size: 11px;
    font-family: Arial;
    color: #FF6C00;
    font-weight: bold;
    padding: 0;
}

div.action-products div.product-price span {
    padding-left: 8px;
    font-weight: normal;
    color: #666;
    text-decoration: line-through;
}

div.action-products div.product:hover {
    background-color: #EEE;
}

div.action-products div.product-checked {
    border-color: #FF6C00;
    background-color: #EEE;
}

div.action-products div.product-checked div.product-name {
    color: #FF6C00;
}

div.action-controls a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    color: #3F64B0;
    font-family: Arial;
}

div.action-controls a:hover {
    text-decoration: none;
}

div.action-controls a.action-del {
    float: right;
    margin-left: 5px;
}

div.action-controls a.action-select-all, div.action-controls a.action-deselect-all {
    float: right;
    margin-left: 5px;
    font-weight: normal;
    color: #666;
}

div.action-loader {
    display: none;
}

ul.action-rubs {
    margin: 0;
    padding: 0;
}

ul.action-rubs li {
    padding: 2px 0;
    margin-left: 40px;
}

ul.action-rubs a {
    font-size: 12px;
    color: #000;
    font-size: 12px;
    font-family: Arial;
}

div.action-back {
    padding: 0 10px 5px 10px;
}

div.action-back a {
    font-size: 13px;
    font-weight: bold;
}

div.banner-block {
    border: #666 1px solid;
    background-color: #EEE;
    padding: 5px 10px;
    width: 500px;
}

div.banner-block p {
    padding: 0;
}

div.banner-block p a {
    color: #3F64B0;
    font-size: 14px;
    font-weight: bold;
}

div.banner-block div.banner-rubs {
    border: #666 1px solid;
    background-color: #FFF;
    padding: 10px;
    margin: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    width: 478px;
}
