.tDnD_whileDrag {
    background-color: #E7F3FA;
}

tr.myDragClass td {
    color: yellow;
    background-color: black;
}

td.dragHandle {

}

td.showDragHandle {
    background-image: url(images/updown2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: move;
}
